:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}
h3 {
  font-size: 48px;
  margin-top: 20px;
}
h4 {
  font-size: 36px;
  margin-top: 20px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 150px 10px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-desciption {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--branding-color);
}

.about-me-paragraph {
  display: flex;
  gap: 1rem;
}

.paragraph {
  flex: 1;
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  padding: 30px 15px;
  margin: 10px 15px;
  text-align: left;
  flex: 1;
}
.email {
  margin-top: 15px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.logo {
  max-width: 150px;
}
.container-fluid {
  padding: 20px 0;
}
.nav-link.active {
  color: var(--branding-color) !important;
}
.nav-item {
  margin-left: 15px;
}
.navbar-nav {
  display: flex;
  justify-content: space-between !important;
}
.container-fluid {
  background: #f9f7fe;
}
.navbar {
  background: #f9f7fe !important;
  padding: 10px 0;
}
footer {
  margin: 60px 0;
}
footer .email-link {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  text-align: center;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-icons {
  color: var(--branding-color);
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
footer .social-icons a {
  color: var(--branding-color);
  background-color: var(--secondary-color);
  border-radius: 50%;
  margin: 0 20px;
  font-size: 18px;
  padding: 14px 19px;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}
footer .social-icons a:hover {
  background-color: var(--branding-color);
  color: white;
}
footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px; /* Increased horizontal padding */
  border-radius: 10px;
 
}
footer .btn {
  margin-top: 15px;
  margin-right: 30px;
}
.nav-link {
  color: #000 !important;
}
.social-media-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}
.social-media-list a {
 color: var(--branding-color);
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s;
}
